@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Yeseva+One&display=swap');

:root {
    --font-josefin-sans: 'Josefin Sans', sans-serif;
    --color-background: #56c0e0;
    --color-text: white;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-josefin-sans);
    background-color: black;
    color: var(--color-text);
    
}

.seccion {
    padding: 80px 0;
    margin: 0 auto 80px;
    /* overflow: hidden; */
}

/* header */
.header {
    width: 100%;
    background-size: cover;
    position: relative;
}

.carousel-item {
    max-height: 680px;
}

/* textos */
.quienes-somos-texto, .destacados-texto, .contacto-texto {
    font-family: var(--font-josefin-sans);
}

.iconos{
    background-color: var(--color-background);
    padding-block: 5px;
}

.text-justify {
    text-align: justify;
}

.card-body{
background-color: var(--color-background);
}

.card-img-top {
    height: 40%;
}

.btn{
    background-color: var(--color-background);
    color: var(--color-text)
}

.final {
    background-color: var(--color-background);
    padding: 40px 0;
    text-align: center;
    color: var(--color-text);
}
